/* Your CSS goes here */

* {
    box-sizing: border-box;
}
body{
    margin: 5px 5px 5px 5px;

}

h1{
    text-align: left;
    background-color:#454f6f;
    color: white;
    padding: 20px;
    margin-top: 10px;
    font-size: medium;

}

nav {
float: right;
margin-top: -50px;

}
nav a {
    display: inline;
    padding: 0 20px 0 10px;
    color: white;
    text-decoration: none;
    font-size: small;
    
}

.header{
    text-align: center;
    background-color:#e6834c;
    padding: 20px;
    margin-top: 0px;

}

.demo{
background-color: rgba(226, 230, 241, 0.95) ;
padding: 10px;
margin: 30px 30px 30px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 200px;
    /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer{
    text-align: left;
    background-color: #454f6f;
    color: white;
    padding: 0px;
    margin-top: 10px;
    font-size: medium;
}

footer h3{
    text-align: left;
    background-color: #454f6f;
    color: white;
    padding: 20px;
    margin-top: 10px;
    font-size: medium;
}
.copy{
    text-align: center;
    background-color: #e6834c;
}










